{% extends 'usr_navbar.html' %}
{% block content %}


<main>
    <section class="image-1 position-relative">
        <div class="circule position-absolute top-50 start-50 translate-middle hide">
            <div class="circule2 position-absolute top-50 start-50 translate-middle hide">
                <div class="circule3 position-absolute top-50 start-50 translate-middle hide">
                    <div class="hide intro position-absolute top-50 start-50 translate-middle">
                        <h3 style="color:#F6EFE6" class="mb-3"> WHEELS FOOD ORDENA AHORA</h3>
                        <a class="btn btn-outline-light" href="/usrmenu" role="button">Ver Menú</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


{% endblock %}